.education {
  border-bottom: 0.1rem solid #ECF0F1;
}
.education--layout {
  display: grid;
  grid-template-columns: 33% 67%;
  color: #252525;
  margin: 4rem 2rem;
}

.education__heading {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.3rem;
}

.education__text {
  font-family: 'Roboto', sans-serif;
  color:#666666;
  font-size: 1.6rem;
  font-weight: 200;
  padding-bottom: 1.6rem;
}

.education--padding-right {
  padding-right: 3rem;
}
