<div class="education">
  <div class="education--layout">
    <div class="education--padding-right">
      <h1 class="education__heading">Education<span style="color: #69B6E1">.</span></h1>
      <p class="education__text">
        All my life I have been driven by my strong belief that education is important. I try to learn
        something new every single day.
      </p>
    </div>
    <div>
      <app-education-item
        *ngFor="let educationEl of education"
        [education]="educationEl"></app-education-item>
    </div>
  </div>
</div>
