
<nav class="header">
  <div class="header__logo">Kasjan<span style="color: #69B6E1">.</span></div>
  <ul class="header__menu">
    <li class="header__menu-list">
      <a href="#" class="header__menu-link">hello</a>
    </li>
    <li class="header__menu-list">
      <a href="#" class="header__menu-link">skills</a>
    </li>
    <li class="header__menu-list">
      <a href="#" class="header__menu-link">experience</a>
    </li>
    <li class="header__menu-list">
      <a href="#" class="header__menu-link">education</a>
    </li>
    <li class="header__menu-list">
      <a href="#" class="header__menu-link">awards</a>
    </li>
  </ul>
</nav>
