  <div class="about-me">
    <div class="about-me--padding-right">
      <div class="about-me__heading">I am Michal Jastrzebowski<span style="color: #69B6E1">.</span></div>
      <p class="about-me__paragraph">I am a Web Developer located in Wroclaw, Poland. I currently work as a full
         time Remote Senior Front-end Developer for Coresystems AG, located in Zurich, Switzerland.
         I am looking to take on more work and to increase my skills.
      </p>
      <p class="about-me__contact">
        <span class="about-me__contact-title">phone</span>
        <span class="about-me__contact-info">+48 535 381 448</span>
      </p>
      <p class="about-me__contact">
        <span class="about-me__contact-title">email</span>
        <span class="about-me__contact-info">michal@jastrzebowski.pl</span>
      </p>
      <p class="about-me__contact">
        <span class="about-me__contact-title">address</span>
        <span class="about-me__contact-info">Wroclaw, Poland</span>
      </p>
      <p class="about-me__contact">
        <span class="about-me__contact-title">social</span>
        <span class="about-me__contact-info"></span>
      </p>
    </div>
    <div class="about-me__image">      
    </div>
  </div>
