#about-me {
  border-bottom: 0.15em solid #ECF0F1;
}
.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1.5em;
}
.about-me {
  padding-right: 0.6em;
}

.contact {
  display: grid;
  grid-template-columns: 15% 85%;
}

.contact-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: #252525;
}

.contact {
  padding-top: 1em;
}

.contact-details {
  color: #666666;
  font-weight: 400;
  font-size: 0.8em;
}
