<div id="about-me">
  <div class="container">
    <div class="about-me">
      <h1>I am Michal Jastrzebowski<span style="color: #69B6E1">.</span></h1>
      <p>I am a Web Developer located in Wroclaw, Poland. I currently work as a full
         time Remote Senior Front-end Developer for Coresystems AG, located in Zurich, Switzerland.
         I am looking to take on more work and to increase my skills.
      </p>
      <p class="contact">
        <span class="contact-title">phone</span>
        <span class="contact-details">+48 535 381 448</span>
      </p>
      <p class="contact">
        <span class="contact-title">email</span>
        <span class="contact-details">michal@jastrzebowski.pl</span>
      </p>
      <p class="contact">
        <span class="contact-title">address</span>
        <span class="contact-details">Wroclaw, Poland</span>
      </p>
      <p class="contact">
        <span class="contact-title">social</span>
        <span class="contact-details"></span>
      </p>
    </div>
    <div class="photo-of-me">
      <img src="./assets/images/me.jpg" alt="My photo" style=' width: 100%; object-fit: cover;'>
    </div>
  </div>
</div>
