<div class="experience">
  <div class="experience--layout">
    <div class="experience--padding-right">
      <h1 class="experience__heading">Experience<span style="color: #69B6E1">.</span></h1>
      <p class="experience__text">
        I partner with startups, organizations and Fortune 500 companies to build digital products that help clients o
        vercome challenges and create lasting connections with millions of people every day.
      </p>
    </div>
    <div>
      <app-experience-item></app-experience-item>
    </div>
  </div>
</div>
