.awards-item--padding-right {
  padding-right: 2em;
}

.awards-item--padding-bottom {
  padding-bottom: 1.5em;
}

.awards-item--small-padding-bottom {
  padding-bottom: 0.4em;
}

.awards-item__info {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.3em;
  align-self: center;
}

.awards-item--font {
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

.awards-item--italic {
  font-style: italic;
}
