.awards-item--padding-bottom {
  padding-bottom: 1.5em;
}

.awards-item--small-padding-bottom {
  padding-bottom: 0.7rem;
}

.awards-item__info {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.3rem;
  align-self: center;
}

.awards-item--font {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #666666;
  font-weight: 200;
}

.awards-item--italic {
  font-style: italic;
}
