<div class="awards-item--padding">
  <div class="awards-item">
    <div class="awards-item__info">
      <p class="awards-item--small-padding-bottom">
        {{awards.name}}
      </p>
      <p class="awards-item--font awards-item--small-padding-bottom">
        {{awards.place}}
      </p>
      <p class="awards-item--font awards-item--small-padding-bottom">
        {{awards.date}}
      </p>
    </div>
  </div>
  <p class="awards-item--font awards-item--italic awards-item--padding-bottom" >{{awards.descrription}}</p>
</div>
