<div class="education-item--padding">
  <div class="education-item">
    <div class="education-item__info">
      <p class="education-item--small-padding-bottom">
        {{education.position}}
      </p>
      <p class="education-item--font education-item--small-padding-bottom">
        {{education.company}}
      </p>
      <p class="education-item--font education-item--small-padding-bottom">
        {{education.date}}
      </p>
    </div>
  </div>
  <p class="education-item--font education-item--italic education-item--padding-bottom" >{{education.desc}}</p>
</div>
