<div class="education-item--padding">
  <div class="education-item">
    <div class="education-item__info">
      <p class="education-item--small-padding-bottom">
        {{educations.position}}
      </p>
      <p class="education-item--font education-item--small-padding-bottom">
        {{educations.company}}
      </p>
      <p class="education-item--font education-item--small-padding-bottom">
        {{educations.date}}
      </p>
    </div>
  </div>
  <p class="education-item--font education-item--italic education-item--padding-bottom" >{{educations.desc}}</p>
</div>
