.education-item--padding-right {
  padding-right: 3rem;
}

.education-item--padding-bottom {
  padding-right: 2.5rem;
}

.education-item--small-padding-bottom {
  padding-bottom: 0.4rem;
}

.education-item__info {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.4rem;
  align-self: center;
}

.education-item--font {
  font-family: 'Roboto', sans-serif;
  color:#666666;
  font-size: 1.6rem;
  font-weight: 200;
}

.education-item--italic {
  font-style: italic;
}

.education-item--padding-bottom {
  padding-bottom: 1.4rem;
}
