<div class="experience-item--padding">
  <div class="experience-item">
    <div class="experience-item--padding-right">
      <img [src]="experiences.image" alt="Brand logo" style="width: 100%">
    </div>
    <div class="experience-item__info">
      <p>
        {{experiences.position}}
      </p>
      <p class="experience-item--font">
        {{experiences.company}}
      </p>
      <p class="experience-item--font">
        {{experiences.date}}
      </p>
    </div>
  </div>
  <p class="experience-item--font experience-item--italic experience-item--padding-bottom" >{{experiences.desc}}</p>
</div>
