<div class="experience-item--padding">
  <div class="experience-item">
    <div class="experience-item--padding-right">
      <img [src]="imageUrl | async"  alt="Brand logo" style="width: 100%">
    </div>
    <div class="experience-item__info">
      <div class="experience-item--padding-bottom">
        {{experiences.position}}
      </div>
      <div class="experience-item--font experience-item--padding-bottom">
        {{experiences.company}}
      </div>
      <div class="experience-item--font experience-item--padding-bottom">
        {{experiences.date}}
      </div>
    </div>
  </div>
  <p class="experience-item--font experience-item--italic" >{{experiences.desc}}</p>
</div>
